<div class="footer" fxLayout="row">
    <div  fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>
        <a href="https://liquipedia.net/dota2/Natus_Vincere"
            target="_blank" mat-button fxFlex="0 0 auto" fxLayout="row"
            fxLayoutAlign="start center">
            <img style="max-width: 55px;" src="assets/images/logos/teste.png">
        </a>
        <div class="info">
          <div fxLayout="row" style="margin-left: -80%;">
                  &copy;2020 Todos os direitos reservados a Vítor Nunes 
                  <p style="margin-left: 190px;" >v0.2</p>
          </div>
        </div>
    </div>
</div>

