<div class="tela">
  
  <div  class="row" >
    <div [formGroup]="form" class="col-sm-6">
      <mat-form-field fxFlex="grow" appearance="outline">
        <mat-label>Pesquisar Paciente, CPF ou Médico</mat-label>
        <input (ngModelChange)="filtrar()" formControlName="filtro" matInput>
      </mat-form-field>
    </div>
    <div class="col add">
      <button style="max-height: 37px;" [routerLink]="['/cad-paciente']" mat-raised-button color="primary">Cadastrar Paciente</button>
    </div>
  </div>
    <div *ngIf="pacientes.length > 0" class="mat-elevation-z8">
      
      <mat-table [dataSource]="dataSource">
  
        <ng-container matColumnDef="Nome">
          <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
          <mat-cell class="rows"*matCellDef="let row"> {{row.nome || "-"}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="CPF">
          <mat-header-cell *matHeaderCellDef> CPF </mat-header-cell>
          <mat-cell class="rows" *matCellDef="let row"> {{row.cpf}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="NomeMedico">
          <mat-header-cell *matHeaderCellDef> Médico </mat-header-cell>
          <mat-cell class="rows" *matCellDef="let row"> {{row.nomeMedico}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="DtPrescricao">
          <mat-header-cell *matHeaderCellDef> Ultima Prescição </mat-header-cell>
          <mat-cell class="rows" *matCellDef="let row"> {{row.dtPrescricao}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Status">
          <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
          <mat-cell class="rows" *matCellDef="let row"> 
            <span *ngIf="row.ativo"> Ativo </span> 
            <span *ngIf="!row.ativo"> Inativo </span>
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="Acoes">
            <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
              <mat-cell class="rows" *matCellDef="let row" [style.color]="row.color">
                <img  (click)="editarPaciente(row.id)" style="cursor: pointer; max-width: 25px;" src="../../../assets/edit.png">
                <img (click)="deletarPaciente(row.id)" style="cursor: pointer; max-width: 25px; margin-left: 15px;" src="../../../assets/Recycle_Bin_Full.png">
              </mat-cell>
          </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
    <div *ngIf="!pacientes.length" class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
      <div class="fill-current text-center">
        <img src="../../../assets/user.png" style="max-width: 100px;">
      </div>
    </div>
    <div *ngIf="!pacientes.length" class="text-center mt-4">
      <h3 class="title m-0">Lista Vazia</h3>
      <h4 class="body-2 text-secondary m-0">Não existe nenhum paciente com esses dados.</h4>
    </div>

  </div>